# Python
__pycache__/
*.pyc

# Virtual env
venv/
.env

# Node
node_modules/
.next/

# Logs
*.log

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Docker
.env
.env.*

# Redis
redis_data/

# WAHA
waha_sessions/

#models
insightface_models/
*.onnx
*.zip
backend/**/insightface_models*
ai_engine/**/insightface_models*

*Zone.Identifier*